@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.logo {
    margin: 5px 0 5px 5%;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 0;
}

.btn {
    padding: 0;
    margin-right: 5%;
}

.offcanvas-end {
    width: 70%;
}

.lista-nav {
    list-style-type: none;
    text-decoration: none;
}

.lista-txt {
    text-decoration: none;
}

.prueba {
    text-decoration: none;
}

.portada-car {
    padding: 0 5% 5% 5%;
    margin-top: 57px;
    z-index: 1;
}

.sec-envio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 5% 0;
}

.camion {
    width: 50px;
}

h1 {
    font-size: medium;
    font-weight: 600;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.fotos-muestra {
    padding: 5%;
}

.pruebafotos {
    margin: 10% 0;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 40%);
    transition: all 0.4s ease;
    position: relative;
}

.pruebafotos .ejemplo {
    position: absolute;
    right: 7%;
    bottom: 3%;
    background-color: white;
}

.pruebafotos:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.cadapaso {
    width: 100%;
}

.ejemplo, .ejemplo1 {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
}

.pruebafotos .ejemplo1 {
    position: absolute;
    left: 7%;
    bottom: 3%;
    background-color: white;
}


.ejemplo:link, .ejemplo:visited, .ejemplo:hover, .ejemplo:active, .ejemplo1:link, .ejemplo1:visited, .ejemplo1:hover, .ejemplo1:active {
    color: black;
}


footer {
    background-color: black;
}

@media (min-width:770px){
    .nav-bar {
        display: none;
    }
}
